<div id=practice-session *ngIf="timeRemaining" >
    <div *ngIf="mode=='warmup'">
        <minerva-exercise [exerciseName]='exercise'></minerva-exercise>
    </div>
    <h3>{{mode | titlecase}}</h3>
    <mat-progress-bar mode="determinate" value={{phaseProgress}}></mat-progress-bar>
    <h3>Session</h3>
    <mat-progress-bar mode="determinate" value={{sessionProgress}}></mat-progress-bar>
</div>
