<div>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Page not Found</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            Sorry, the page you are looking for cannot be found
        </mat-card-content>
    </mat-card>
</div>

