<mat-toolbar class="header" color="primary">
    <a mat-button routerLink="/">Minerva</a>

    <span class="spacer"></span>

    <span *ngIf="userService.loggedIn === false" id="login">
        <a mat-button routerLink="/login">Log in</a>
        <a mat-button routerLink="/register">Register</a>
    </span>
</mat-toolbar>
