<h2>{{exerciseName}}</h2>
<div id=exercise *ngIf="exercise">
    <div *ngFor="let section of exercise.sections">
        <div *ngIf="section.type === 'score'" minervaMyScore [scorePath]=section.score></div>
        <p *ngIf="section.type === 'text'">{{section.text}}</p>
        <h1 *ngIf="section.type === 'heading'">{{section.text}}</h1>
    </div>
</div>
