<div class="main center-text">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field>
                <input id="email"
                       matInput
                       type="email"
                       placeholder="Email Address"
                       [(ngModel)]="email">
            </mat-form-field>
            <mat-form-field>
                <input id="password"
                       matInput
                       placeholder="Password"
                       type="password">
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="login()">Login</button>
        </mat-card-actions>
    </mat-card>
</div>

