@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/* app css stylesheet */

body {
    margin: 0;
}

.center-text {
    text-align: center;
}

.lesson-list > div {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

