<h1>Welcome to Minerva</h1>
<div>
    <mat-card *ngFor="let exercise of exercises">
        <mat-card-header>
            <mat-card-title>{{exercise.label}}</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
            <button [routerLink]="['/exercise', exercise.id]" mat-button>Start</button>
        </mat-card-actions>
    </mat-card>
</div>

<mat-card>
    <mat-card-header>
        <mat-card-title>Practice Session</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
        <button routerLink="/practice-session" mat-button>Start</button>
    </mat-card-actions>
</mat-card>
