<div class="main center-text">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Register</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field>
                <input id="email"
                       matInput
                       placeholder="Email Address"
                       type="email">
            </mat-form-field>
            <mat-form-field>
                <input id="username"
                       matInput
                       placeholder="Username"
                       type="text">
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="register()">Register</button>
        </mat-card-actions>
    </mat-card>
</div>

